
.navbar {
  width: 100%;
  height: 100px;
  background-color: #2BD69B;
  border-bottom: 3px solid #139B6D;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 32px;
}

.navbar a {
  
  padding-left: 5%;
  padding-right: 5%;
  color: #EFF5F3;
  text-decoration: none;
}

.body {
  background-color: #0C1D17;
  height: 100vh;
}

.home {
  background-color: #0C1D17;
}

.home .header {
  margin-top: 32px;
  text-align: center;
}

.home .subheader {
  margin-top: 32px;
  text-align: center;
}

.projectsPreface {
  margin-top: 32px;
}

.header {
  font-family: 'IBM Plex Mono', monospace;
  color: #EFF5F3;
  font-size: 64px;
  text-align: center;
}

.subheader {
  font-family: 'IBM Plex Mono', monospace;
  color: #EFF5F3;
  font-size: 32px;
  margin-left: 20%;
  margin-right: 20%;
}

.paragraph {
  font-family: 'IBM Plex Mono', monospace;
  color: #EFF5F3;
  font-size: 24px;
  margin-left:20%;
  margin-right:20%;
}



